.education{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.4)),url('./hammer.jpg');
    background-size: cover;
    height:100vh;
}

.edu-head{
    display: flex;

    justify-content: center;
    padding-top: 5%;
}

.edu-head-part{
    border:3px solid white;
    border-style: hidden hidden solid hidden;
    display: inline-block;
    padding:10px;
    text-align: center;
}