.thor{
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url('./thor.jpg');
    background-size: cover;
    
}
.About{
    text-align: center;
    padding-top: 5%;
}

.abt-hed{
    border:5px solid white;
    display: inline-block;
    padding: 10px;
    border-style: hidden hidden solid hidden;
    margin-bottom: 20px;
}

.about-me-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;

}




.hero-img{
    width:250px;
    height:300px;
    border-radius: 8px;
}

.about-section{
    width:50%;
    padding-top: 2%;
    margin-left: 5%;
}
.about-para{
    margin:10px;
}

.view-resume{
    margin-left:10px;
    margin-top:5%;
    
}


.view-resume-part{
border:2px solid white;
display: inline;
padding:5px;
padding-left:5px;
padding-right: 5px;
background: linear-gradient(to left,transparent 50%,white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition: 1s;
}
.view-resume-part:hover{
    cursor: pointer;
    background-position:left bottom;
    color: black;
}

@media(max-width:700px){
    .About{
        padding-top: 2%;
    }
    .about-me-section{
        display: block;
        padding-top: 5%;
    }
    .hero-img{
        width:175px;
        height:225px;
        margin-left:30%;
        border-radius: 5px;
    }
    .about-section{
        width:70%;
        margin-left: 20%;
        margin-right:20%;
    }
    .about-para{
        margin:5px;
    }
    .view-resume{
        padding-top: 3%;
        margin-left: 2%;
    }
}