.contact{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: orange;
    border:1px solid white;
    height:50vh;
}


.Contact-list{
    padding-top: 20%;
    color: transparent;
    padding-bottom: 40px;
}
.mobile{
    padding-top:20px;
    padding-bottom: 20px;

}

.contact-bottom{
    padding:20px;
    width: 100%;
}
.boot-camp{
    display: flex;
    flex-wrap: wrap;
}
.boot-img{
    width:50px;
    height:50px;
    margin:10px;
    margin-left:20px;
}

.mail{
    border:1px solid white;
    padding:5px;
    background: orange;
    /* Old browsers */
    background: linear-gradient(to left, orange 50%, rgb(106, 91, 91) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition: 1s;
}
.mail:hover{
    cursor: pointer;
    background-position:left bottom;
}